body{
    background-color: rgb(180, 135, 75);
    background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    padding: 20px;
}

h1{
    font-family: "Matemasie";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: bisque;
}

h2{
    font-family: "Matemasie";
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

p{
     font-family: "Anton SC", sans-serif;
     font-weight: 400;
     font-style: normal;
}

h1, h2, p{
    text-align: center;
    margin: auto;
    line-height: 45px;
    color: rgb(255, 234, 208);
}

.menu{
    background-color: rgb(146, 92, 38);
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.menu2{
    background-color: rgb(146, 92, 38);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.beverage, .food{
    text-align: center;
   width: 100%;
}

hr{
    height: 3px;
    background-color: rgb(68, 37, 9);
    border-color: rgb(110, 61, 18);
    width: 75%;
}

/* FOOTER */

footer{
    font-size: 13px;
    margin-top: 50px;
}

a{
    color:  bisque;
}

a:visited{
    color: rgb(99, 60, 21);
}